{% extends "base.html" %}

{% block title %}Report{% endblock title %}

{% block content %}
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-sm-12">
          <h3 class="panel-title">Report:</h3>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">
          {% if items %}
          <table class="table table-striped table-hover table-condensed table-responsive">
            <thead>
              <tr>
                <th>Date</th>
                <th>Description</th>                
                <th>Transaction ID</th>
                <th>Value</th>
                <th class="table-toolbar"></th>
              </tr>
            </thead>
            <tbody>
              {% for transaction in items %}
              <tr>
                <td>{{ transaction.date|datetimeformat }}</td>
                <td>{{ transaction.description }}</td>
                <td><a href="{{ url_for('.edit_financial_transaction', id=transaction.id) }}">{{ transaction.transaction_id }}</a></td>
                <td>{{ transaction.value|float }}</td>
                <td>
                </td>
              </tr>
              {% endfor %}
            </tbody>
            <tfoot class="table-footer">
              <tr>
                <td>Total</td>
                <th></th>
                <th></th>
                <td>{{ total_value|float }}</td>
                <td></td>
              </tr>
            </tfoot>
          </table>
          {% else %}
          <p>No record found</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

</div>

{% include "_deleteConfirmModal.html" %}
{% endblock content %}