{% extends "base.html" %}

{% block title %}Report{% endblock title %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="pull-left">
        <div class="btn-group btn-group-sm">
          <a class="btn btn-default" href="{{ url_for('.report_by_month', year=previous_date.year, month=previous_date.month) }}">&lsaquo;</a>
          <a class="btn btn-default" href="{{ url_for('.report_by_month', year=next_date.year, month=next_date.month) }}">&rsaquo;</a>
        </div>
        <a class="btn btn-default btn-sm {% if today.year == year and today.month == month %}disabled{% endif %}" href="{{ url_for('.report_by_month') }}">Current</a>
      </div>
    </div>
    <div class="col-sm-4 text-center">
      <h3 class="calendar-header-title">{{ month|month_name }} {{ year }}</h3>
    </div>
    <div class="col-sm-4">
      <div class="pull-right">
        <div class="btn-group btn-group-sm">
          <a class="btn btn-default" href="{{ url_for('.report_by_year', year=year) }}">Year</a>
          <a class="btn btn-default disabled" href="{{ url_for('.report_by_month', year=year, month=month) }}">Month</a>
          <a class="btn btn-default" href="{{ url_for('.report_by_day', year=year, month=month, day=day) }}">Day</a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">
          {% if items %}
          <table class="table table-striped table-hover table-condensed table-responsive">
            <thead>
              <tr>
                <th>Date</th>
                <th>Transaction</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              {% for transaction in items %}
              <tr>
                <td><a href="{{ url_for('.report_by_day', year=year, month=month, day=transaction.date.day) }}">{{ transaction.date|datetimeformat }}</a></td>
                <td><a href="{{ url_for('.report_by_transaction', transaction_id=transaction.transaction_id) }}">{{ transaction }}</a></td>
                <td>{{ transaction.value|float }}</td>
              </tr>
              {% endfor %}
            </tbody>
            <tfoot class="table-footer">
              <tr>
                <td>Total</td>
                <td></td>
                <td>{{ total_value|float }}</td>
              </tr>
            </tfoot>
          </table>
          {% else %}
          <p>No record found</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock content %}