{% extends "list.html" %}

{% block quick_list %}
	{% if items %}
	<table class="table table-striped table-hover table-condensed table-responsive">
	  <thead>
	    <tr>
	      <th>Supplier</th>
	      <th>Items</th>
          <th>Total Value</th>
          <th>Status</th>
	      <th class="table-toolbar" ></th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for item in items %}
        <tr>
          <td><a href="{{ url_for('.create_'+parent_view_name, parent_id=item.id) }}">{{ item }}</a></td>
          <td>{{ item.items }}</td>
          <td>{{ item.total_value|float }}</td>
          <td>{{ item.status }}</td>
          <td><a class="btn btn-xs pull-right" onclick="deleteConfirmModal('{{ url_for('.delete_'+view_name, id=item.id) }}'{%if item.status == "AV"%},'Esta ordem de compra encontra-se finalizada. Ao apagar o registro a movimentação financeira correspondente também será apagada. Deseja Continuar?'{%endif%})"><i class="fa fa-trash-o"></i></a></td>
        </tr>
	    {% endfor %}
	  </tbody>
	  {% include "_deleteConfirmModal.html" %}
	</table>
	{% else %}
	<p>No record found</p>
	{% endif %}
{% endblock quick_list %}
