/* GLOBAL STYLES
-------------------------------------------------- */

 /* Flow the inline-block .btn starting from the right. */
.container-right {
  direction: rtl;
  * {
    direction: ltr;
  }
}

.form-group.required .control-label:after { 
   content:"*";
   color:red;
}

.table-footer {
  font-weight: bold;
  background-color: #eee;
}