{% extends "form_list.html" %}

{% block form %}
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-12">
          <div class="col-xs-10">
            <h3 class="panel-title">Formulário</h3>
          </div>
          <div class="col-xs-2 btn-container-right">
            <a class="btn-link pull-right" href="{{ url_for('.list_product_purchase_order') }}"><i class="fa fa-bars fa-fw"></i>List</a>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-body">
	  <div class="col-sm-11">
		<div class="form form-horizontal">

			<div class="form-group">
		        <label class="control-label  col-sm-2" for="supplier">Supplier</label>
		        <div class=" col-sm-10">
		            <input class="form-control" id="supplier" name="supplier" type="text" value="{{ parent }}" readonly>
		        </div>
			</div>

      		{{ macros.form_field(parentForm.supplier)}}

			<div class="form-group">
				<div class="container-right">
				  {% if parent.status != 'AV' %}
				  <a class="btn btn-default" href="{{ url_for('.create_'+view_name, parent_id=parent.id, status='AV') }}">Finish</a>
				  {% endif %}
				  <a class="btn btn-default" href="{{ url_for('.create_'+view_name, parent_id=parent.id, status='CR') }}">Edit</a>
				  <a class="btn btn-danger" onclick="deleteConfirmModal('{{ url_for('.delete_product_purchase_order', id=parent.id) }}'{%if parent.status == "AV"%},'Esta ordem de compra encontra-se finalizada. Ao apagar o registro a movimentação financeira correspondente também será apagada. Deseja Continuar?'{%endif%})">Delete</a>
				</div>
			</div>
		</div>
	  </div>
    </div>
  </div>
</div>

{% if parent.status == 'CR' %}
{{ super() }}
{% endif %}
{% endblock form %}

{% block quick_list %}
	{% if items %}
	<table class="table table-striped table-hover table-condensed table-responsive">
	  <thead>
	    <tr>
			<th>Item</th>
			<th>Value</th>
			<th>Quantity</th>
			<th>Total</th>
			{% if parent.status == 'CR' %}
			<th class="table-toolbar" ></th>
			{% endif %}
	    </tr>
	  </thead>
	  <tbody>
	    {% for item in items %}
	    <tr>
			{% if parent.status == 'CR' %}
	        <td><a href="{{ url_for('.edit_'+view_name, id=item.id, parent_id=parent.id) }}">{{ item }}</a></td>
			{% else %}
			<td>{{ item }}</td>
			{% endif %}
			<td>{{ item.value|float }}</td>
	      	<td>{{ item.quantity|float }}</td>
			<td>{{ item.total_value|float }}</td>
			{% if parent.status == 'CR' %}
			<td><a class="btn btn-xs pull-right" onclick="deleteConfirmModal('{{ url_for('.delete_'+view_name, id=item.id) }}')"><i class="fa fa-trash-o"></i></a></td>
			{% endif %}
	    </tr>
	    {% endfor %}
	  </tbody>
      	<tfoot class="table-footer">
		  <tr>
		    <td>Total</td>
		    <td></td>
		    <td></td>
		    <td>{{ parent.total_value|float }}</td>
			{% if parent.status == 'CR' %}
			<td></td>
			{% endif %}
		  </tr>
		</tfoot>
	</table>
	{% else %}
	<p>No record found</p>
	{% endif %}
{% endblock quick_list %}



{#
{% block form %}
<div class="container">
    <div class="panel panel-default">
		<div class="panel-heading">
			<div class="row">
			  <div class="col-xs-12">
			    <h3 class="panel-title">{{ parent }}</h3>
			  </div>
			</div>
		</div>
		<div id="statusDiv" class="panel-body"> {{parent.status}} --
			<a class="btn btn-default" href="{{ url_for('.create_'+view_name, parent_id=parent.id, status='CR') }}">Edit Order</a>
			{% if parent.status == 'CR' %}
			<a class="btn btn-primary {% if not items %} disabled{% endif %}" href="{{ url_for('.create_'+view_name, parent_id=parent.id, status='PL') }}">Placed</a>
			{% elif parent.status == 'PL' %}
			<a class="btn btn-primary" href="{{ url_for('.create_'+view_name, parent_id=parent.id, status='PD') }}">Paid</a>
			{% elif parent.status == 'PD' %}
			<a class="btn btn-primary" href="{{ url_for('.create_'+view_name, parent_id=parent.id, status='RC') }}">Received</a>
			{% elif parent.status == 'RC' %}
			<a class="btn btn-primary" href="{{ url_for('.create_'+view_name, parent_id=parent.id, status='AV') }}">Available</a>
			{% endif %}
			{% if parent and not parent.status == 'AV' and not parent.status == 'CN' %}
			<a class="btn btn-danger" href="{{ url_for('.create_'+view_name, parent_id=parent.id, status='CN') }}">Cancel</a>
			{% endif %}
		</div>
    </div>
</div>
<div id="formDiv">
{% if parent.status == 'CR' or parent.status == 'PL' %}
	{{ super() }}
{% endif %}
</div>
{% endblock form %}

{% block quick_list %}
	{% if items %}
	<table class="table table-striped table-hover table-condensed table-responsive">
	  <thead>
	    <tr>
	      <th>Item</th>
	      <th>Quantity</th>
		  {% if parent.status != 'CR' %}
	      <th>Value</th>
	      <th>Total</th>
	      {% else %}
	      <th class="table-toolbar" ></th>
		  {% endif %}
	    </tr>
	  </thead>
	  <tbody>
	    {% for item in items %}
	    <tr>
		  {% if parent.status == 'CR' %}
	        <td><a href="{{ url_for('.edit_'+view_name, id=item.id, parent_id=parent.id) }}">{{ item }}</a></td>
	      	<td>{{ item.quantity|float }}</td>
			<td><a class="btn btn-xs pull-right" onclick="deleteConfirmModal('{{ url_for('.delete_'+view_name, id=item.id) }}')"><i class="fa fa-trash-o"></i></a></td>
	      {% else %}
			<td>{{ item }}</td>
			<td>{{ item.quantity|float }}</td>
			<td>{{ item.value|float }}</td>
			<td>{{ item.total_value|float }}</td>
		  {% endif %}
	    </tr>
	    {% endfor %}
	  </tbody>
		{% if parent.status != 'CR' %}
      	<tfoot class="table-footer">
		  <tr>
		    <td>Total</td>
		    <td></td>
		    <td></td>
		    <td>{{ parent.total_value|float }}</td>
		  </tr>
		</tfoot>
		{% endif %}
	</table>
	{% else %}
	<p>No record found</p>
	{% endif %}
{% endblock quick_list %}
#}