{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}Flasky - Change Email Address{% endblock %}

{% block content %}
<div class="page-header">
    <h1>Change Your Email Address</h1>
</div>
<div class="col-md-4">
    {{ macros.quick_form(form) }}
</div>
{% endblock %}