{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky - Login{% endblock %}

{% block content %}
<div class="page-header">
    <h1>Login</h1>
</div>
<div class="col-md-4">
    {{ macros.quick_form(form, form_type="basic") }}
    <br>
    <p>Forgot your password? <a href="{{ url_for('auth.password_reset_request') }}">Click here to reset it</a>.</p>
    <p>New user? <a href="{{ url_for('auth.register') }}">Click here to register</a>.</p>
</div>


<header class="content-header">
<h1>Please login</h1>
</header>

<br>

<form class="form" role="form" method="post" action="">

{{ form.csrf_token }}
{{ form.hidden_tag() }}
{{ wtf.form_errors(form, hiddens="only") }}


<div class="col-lg-4 col-sm-4">

  {{ wtf.form_field(form.email) }}
  {{ wtf.form_field(form.password) }}

  <button class="btn btn-success" type="submit">Sign In!</button>
  <br><br>
  <p>Need to <a href="{{ url_for('auth.register') }}">Register</a>?</p>
</div>

</form>

{% endblock content %}
