{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}Flasky - Register{% endblock %}

{% block content %}
<div class="page-header">
    <h1>Register</h1>
</div>
<div class="col-md-4">
    {{ macros.quick_form(form, form_type="basic") }}
</div>
{% endblock %}
