{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}Formulário{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">

    {% block content_center %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-10">
            <h3 class="panel-title">Formulário</h3>
          </div>
          <div class="col-xs-2 btn-container-right">
            <a class="btn-link pull-right" href="{{ url_for('.list_room') }}"><i class="fa fa-bars fa-fw"></i>List</a>
          </div>
        </div>
      </div>
      <div class="panel-body">
        {% block form %}
        <form class="form-horizontal" action="#" method="post" role="form">
          {{ macros.form_errors(form) }}
          {{ form.hidden_tag() }}
          <div class="row">
            <div class="col-sm-11">
              {%- for field in form %}
{{ macros.form_field(field) }}
              {%- endfor %}
              {% block buttons %}
              <div class="form-group">
                <div class="col-sm-6 col-sm-offset-2">
                {% block extra_buttons %}{% endblock extra_buttons %}
                </div>
                <div class="col-sm-4 container-right">
                  <button type="submit" class="btn btn-default">Save</button>
                  <a class="btn btn-primary" href="{{ url_for('.add_room') }}">New</a>
                  {% if id %}
                    <a class="btn btn-danger" onclick="deleteConfirmModal('{{ url_for('.delete_room', id=id) }}')">Delete</a>
                  {% endif %}
                  {% include "_deleteConfirmModal.html" %}
                </div>
              </div>
              {% endblock buttons %}
            </div>
          </div>
        </form>
        {% endblock form %}
      </div>
    </div>
    {% endblock content_center %}

    </div> 
  </div>
</div>

{% endblock content %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}