{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}Listagem{% endblock %}

{% block content %}

<div class="panel panel-default">

<div class="panel-heading">
  <div class="row">
    <div class="col-sm-10">
      <h3 class="panel-title">Listagem</h3>
    </div>
    <div class="col-sm-2 btn-container-right">
      <a class="btn-link pull-right" href="{{ url_for('.add_room') }}"><i class="fa fa-plus fa-fw"></i>New</a>
    </div>
  </div>
</div>

  <div class="panel-body">
    <div class="row">
      <div class="col-sm-10">
        {% if filters %}
        <form class="form-horizontal" action="#" method="get" role="form">
          <div class="col-sm-10">
            <div id="div_id_name" class="form-group ">
              <div class="col-sm-12">
                <input class="form-control" id="id_name" value="{{ search }}" name="search" type="text" />
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
          <a class="btn btn-danger" href="{{ list_url }}"><i class="fa fa-eraser"></i></a>
        </form>
        {% endif %}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        {% if items %}
        <table class="table table-striped table-hover table-condensed table-responsive">
          <thead>
            <tr>
              <th>Code</th>
              <th>Name</th>
              <th>Building</th>
              <th>Condominium</th>
              <th class="table-toolbar" ></th>
            </tr>
          </thead>
          <tbody>
            {% for item in items %}
            <tr>
            	<td><a href="{{ url_for('.edit_room', id=item.id) }}">{{ item.code }}</a></td>
              <td>{{ item.name }}</td>
              <td>{{ item.building }}</td>
              <td>{{ item.building.condominium }}</td>
              <td><a class="btn btn-xs pull-right" onclick="" href="{{ url_for('.delete_room', id=item.id) }}"><i class="fa fa-trash-o"></i></a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <p>No record found</p>
        {% endif %}
      </div>
    </div>

  </div>
</div>
 
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.list_room') }}
</div>
{% endif %}

{% endblock content %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}