<div id="deleteConfirmModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 id="deleteConfirmModalLabel" class="modal-title">Confirm delete</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete?</p>
      </div>
      <div class="modal-footer">
        <a class="btn btn-default" data-dismiss="modal">Cancel</a>
        <a id="deleteConfirmButton" class="btn btn-danger">Delete</a>
      </div>
    </div><!-- /.modal-content 
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
  function deleteConfirmModal(url, msg) {
    $('#deleteConfirmModal').modal('show'); 
    $('#deleteConfirmButton').attr('href', url);
    if (msg) {
      $("p").html(msg);
    }
  }
</script>