<header class="site-header">
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.index') }}">Virtuasi</a>
        </div>
        <div class="navbar-collapse collapse">

            <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Organization<i class="fa fa-caret-down fa-fw"></i></a>
                  <ul class="dropdown-menu">
                    <li><a href="{{ url_for('organization.list_organization') }}">Organization</a></li>
                    <li><a href="{{ url_for('organization.list_employee') }}">Employee</a></li>
                    <li><a href="{{ url_for('organization.list_customer') }}">Customer</a></li>
                    <li><a href="{{ url_for('organization.list_supplier') }}">Supplier</a></li>
                  </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Product<i class="fa fa-caret-down fa-fw"></i></a>
                  <ul class="dropdown-menu">
                    <li><a href="{{ url_for('product.list_product') }}">Product</a></li>
                    <li><a href="{{ url_for('product.list_product_purchase_order') }}">Product Purchase Order</a></li>
                  </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Location<i class="fa fa-caret-down fa-fw"></i></a>
                  <ul class="dropdown-menu">
                    <li><a href="{{ url_for('location.list_country') }}">Country</a></li>
                    <li><a href="{{ url_for('location.list_state') }}">State</a></li>
                    <li><a href="{{ url_for('location.list_city') }}">City</a></li>
                    <li><a href="{{ url_for('location.list_district') }}">District</a></li>
                    <li><a href="{{ url_for('location.list_address') }}">Address</a></li>
                  </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Building<i class="fa fa-caret-down fa-fw"></i></a>
                  <ul class="dropdown-menu">
                    <li><a href="{{ url_for('building.list_condominium') }}">Condominium</a></li>
                    <li><a href="{{ url_for('building.list_building') }}">Building</a></li>
                    <li><a href="{{ url_for('building.list_room') }}">Room</a></li>
                    <li><a href="{{ url_for('building.list_area') }}">Area</a></li>
                  </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Report<i class="fa fa-caret-down fa-fw"></i></a>
                  <ul class="dropdown-menu">
                    <li><a href="{{ url_for('finance.report_by_day') }}">Daily</a></li>
                    <li><a href="{{ url_for('finance.report_by_month') }}">Monthly</a></li>
                    <li><a href="{{ url_for('finance.report_by_year') }}">Yearly</a></li>
                    <li><a href="{{ url_for('finance.report_by_transaction') }}">Transaction</a></li>
                  </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{{ current_user.gravatar(size=18) }}">
                        Account <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a>Organizations</a></li>
                        <li class="divider"></li>

                        <li><a href="{{ url_for('main.user', username=current_user.username) }}">Profile</a></li>
                        <li><a href="{{ url_for('auth.change_password') }}">Change Password</a></li>
                        <li><a href="{{ url_for('auth.change_email_request') }}">Change Email</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{{ url_for('auth.register') }}">Sign up</a></li>
                <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
  </nav>
</header>