<!DOCTYPE html>
<html lang="{{request.locale_name}}" {% block html_attribs %}{% endblock html_attribs %}>
  <head>
  {% block head %}
    <title>{% block title %}Site Title{% endblock title %}</title>
    {% block metas %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Virtua Gestao Total">
    <meta name="author" content="Virtuasi">
    {% endblock metas %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    {% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/dist/css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='font-awesome/css/font-awesome.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}">
    {% endblock styles %}
  {% endblock head %}
  </head>
  <body{% block body_attribs %}{% endblock body_attribs %}>
  {% block body %}

    {% block header %}
        {% include '_navbar.html' %}
    {% endblock header %}
    
    {% block body_content %}
    <div class="container">    
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="row">
          <div class="col-md-12">
            {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
            {% endfor %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}"> {{ category }} ==
              <a class="close" title="Close" href="#" data-dismiss="alert">&times;</a>
             {{message}}
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      {% endwith %}
      
      {% block content %}{% endblock content %}

      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
      {% endif %}
    </div>
    {% endblock body_content %}

    {% block footer %}{% include '_footer.html' %}{% endblock footer %}

    {% block scripts %}
    <script src="{{ url_for('static', filename='jquery/dist/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/dist/js/bootstrap.js') }}"></script>
    {{ moment.include_moment() }}
    {% endblock scripts %}
    
  {% endblock body %}
  </body>
</html>