{%- extends "bootstrap/base.html" %}
{% import "bootstrap/fixes.html" as fixes %}

{% block title %}Page Title{% endblock %}

{% block head %}
  {{super()}}
  {{fixes.ie8()}}
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
{%- endblock %}

{% block metas -%}
  {{super()}}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Virtua Gestao Total">
  <meta name="author" content="Virtuasi">
{% endblock metas %}
    
{% block styles -%}
  {{super()}}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='font-awesome/css/font-awesome.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}">
{% endblock %}

{% block body %}

  {% block navbar %}
    {% include '_navbar.html' %}
  {%- endblock navbar %}

  <div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      <div class="row">
        <div class="col-md-12">
          {% for message in get_flashed_messages() %}
          <div class="alert alert-warning">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{ message }}
          </div>
          {% endfor %}
          {% for category, message in messages %}
          <div class="alert alert-{{ category }}"> {{ category }} ==
            <a class="close" title="Close" href="#" data-dismiss="alert">&times;</a>
           {{message}}
          </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}
    {% endwith %}
    
    {% block content %}{% endblock content %}

    {% if error %}
      <p class="error"><strong>Error:</strong> {{ error }}</p>
    {% endif %}
  </div>

  {% block scripts %}
    <script src="{{bootstrap_find_resource('jquery.js', cdn='jquery')}}"></script>
    <script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}"></script>
    {{ moment.include_moment() }}
  {% endblock scripts %}

{% endblock body %}