{% extends "base.html" %}

{% block title %}Flasky - {{ code }}: {{ name }}{% endblock %}

{% block content %}
<div class="page-header">
    <h1>{{ code }}: {{ name }}</h1>
    <p>{{ description }}</p>
</div>
{% endblock %}
