{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}Form List{% endblock title %}

{% block content %}

{% block form %}
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-12">
          <h3 class="panel-title">Formulário</h3>
        </div>
      </div>
    </div>
    <div class="panel-body">
      {% block quick_form %}
      <div class="col-sm-11">
        {% call macros.quick_form(form) %}
        {% block buttons %}
          <div class="form-group">
            <div class="container-right">
              {% if id %}
                <a class="btn btn-danger" onclick="deleteConfirmModal('{{ url_for('.delete_'+view_name, id=id) }}')">Delete</a>
              {% endif %}
              <button type="submit" class="btn btn-primary">Save</button>
              <a class="btn btn-default" href="{{ url_for('.create_'+view_name, parent_id=parent.id) }}">New</a>
            </div>
          </div>
        {% endblock buttons %}
      {% endcall %}
      </div>
      {% endblock quick_form %}
    </div>
  </div>
</div>
{% endblock form %}

{% block list %}
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-12">
          <h3 class="panel-title">Listagem</h3>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-10">
          {% if filters %}
          <form class="form-horizontal" action="#" method="get" role="form">
            <div class="col-sm-10">
              <div id="div_id_name" class="form-group ">
                <div class="col-sm-12">
                  <input class="form-control" id="id_name" value="{{ search }}" name="search" type="text" />
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
            <a class="btn btn-danger" href="{{ list_url }}"><i class="fa fa-eraser"></i></a>
          </form>
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
        {% block quick_list %}
        {{ macros.quick_list(items, view_name, parent_id=parent.id) }}
        {% endblock quick_list %}
        </div>
      </div>
    </div>
  </div>
   
  {% if pagination %}
  <div class="pagination">
      {{ macros.pagination_widget(pagination, view_name, parent_id=parent.id) }}
  </div>
  {% endif %}
</div>
{% endblock list %}

{% endblock content %}

{% block scripts %}
{% include "_deleteConfirmModal.html" %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}