{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}Formulário{% endblock %}

{% block content %}
<div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-10">
            <h3 class="panel-title">Formulário</h3>
          </div>
          <div class="col-xs-2 btn-container-right">
          {% if parent_id %} ========= {{parent_id}}
            <a class="btn-link pull-right" href="{{ url_for('.list_'+view_name, parent_id=parent_id) }}"><i class="fa fa-bars fa-fw"></i>List</a>
          {% else %}
            <a class="btn-link pull-right" href="{{ url_for('.list_'+view_name) }}"><i class="fa fa-bars fa-fw"></i>List</a>
          {% endif %}
          </div>
        </div>
      </div>
      <div class="panel-body">
        {% block form %}
          <div class="col-sm-11">
          {% call macros.quick_form(form) %}
            {% block buttons %}
              <div class="form-group">
                <div class="col-sm-5 col-sm-offset-2">
                {% block extra_buttons %}{% endblock extra_buttons %}
                </div>
                <div class="col-sm-5 container-right">
                  <button type="submit" class="btn btn-default">Save</button>
                  {% if parent_id %}
                      <a class="btn btn-primary" href="{{ url_for('.create_'+view_name, parent_id=parent_id) }}">New</a>
                  {% else %}
                    <a class="btn btn-primary" href="{{ url_for('.create_'+view_name) }}">New</a>
                  {% endif %}
                  {% if id %}
                    <a class="btn btn-danger" onclick="deleteConfirmModal('{{ url_for('.delete_'+view_name, id=id) }}')">Delete</a>
                  {% endif %}

                  {% include "_deleteConfirmModal.html" %}
                </div>
              </div>
            {% endblock buttons %}
          {% endcall %}
          </div>
        {% endblock form %}
      </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
