{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}Listagem{% endblock %}

{% block content %}

<div class="panel panel-default">

  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-10">
        <h3 class="panel-title">Listagem</h3>
      </div>
      <div class="col-xs-2 btn-container-right">
        {% if parent_id %}
          <a class="btn-link pull-right" href="{{ url_for('.create_'+view_name, parent_id=parent_id) }}"><i class="fa fa-plus fa-fw"></i>New</a>
        {% else %}
          <a class="btn-link pull-right" href="{{ url_for('.create_'+view_name) }}"><i class="fa fa-plus fa-fw"></i>New</a>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="col-sm-10">
        {% if filters %}
        <form class="form-horizontal" action="#" method="get" role="form">
          <div class="col-sm-10">
            <div id="div_id_name" class="form-group ">
              <div class="col-sm-12">
                <input class="form-control" id="id_name" value="{{ search }}" name="search" type="text" />
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
          <a class="btn btn-danger" href="{{ list_url }}"><i class="fa fa-eraser"></i></a>
        </form>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
      {% block quick_list %}
      {{ macros.quick_list(items, view_name, parent_view_name) }}
      {% endblock quick_list %}
      </div>
    </div>
  </div>

</div>
 
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, view_name, parent_id) }}
</div>
{% endif %}

{% endblock content %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}